.doctor-detail-container {
  height: 500px;

  .introduce-doctor {
    display: flex;
    padding: 0 150px;

    .content-left {
      background: center center no-repeat;
      background-size: cover;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      margin: 10px 20px;
    }
    .content-right {
      width: 80%;
      display: flex;
      flex-direction: column;
      padding-left: 10px;

      .name-doctor {
        padding-top: 15px;
        font-size: 20px;
        font-weight: 600;
      }

      .info-doctor {
        padding-top: 10px;
      }
    }
  }

  .schedule-doctor {
    margin: 0 150px;
    display: flex;
    min-height: 200px;

    .content-left {
      border-right: 2px solid #45c3d2;
      width: 55%;
    }

    .content-right {
      width: 45%;
    }
  }

  .detail-info-doctor {
    .wrapper-info-doctor {
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      background-color: #f6f6f6;
      padding: 0 150px;
      padding-top: 20px;
    }

    h2 {
      font-size: 20px;
      font-weight: 600;
    }

    h3 {
      font-size: 18px;
      font-weight: 600;
    }

    img {
      width: 100%;
    }
  }

  .comment-doctor {
    height: 50px;
  }
}
