.introduce-doctor {
  display: flex;
  //   padding: 0 150px;

  .content-left {
    background: center center no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    // margin: 10px 20px;
  }
  .content-right {
    width: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    padding-left: 10px;

    .name-doctor {
      //   padding-top: 15px;
      font-size: 20px;
      font-weight: 600;
    }

    .info-doctor {
      //   padding-top: 10px;
    }
  }
}
