.home-header-container {
  height: 60px;
  width: 100%;

  .home-header-content {
    display: flex;
    width: 100%;

    .left-content {
      border: 1px solid black;
      width: 25%;
      height: 60px;

      .header-logo {
        background: url("../../assets/logo.svg") center center no-repeat;
        height: 58px;
        width: 100%;
      }

      i {
        cursor: pointer;
      }
    }

    .center-content {
      border: 1px solid black;
      width: 50%;
      height: 60px;

      .child-content {
        .subs-title {
          font-size: 13px;
        }
      }
    }

    .right-content {
      border: 1px solid black;
      width: 25%;
      height: 60px;
    }
  }

  .home-header-banner {
    background: url("../../assets/banner.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .content-up {
      border: 1px solid red;
      height: 50%;
      padding-top: 15px;

      .title-first {
        text-align: center;
        font-size: 30px;
        text-shadow: 1px 1px 1px #333;
        color: white;
        margin-bottom: 5px;
        margin-top: 30px;
        text-transform: uppercase;
      }

      .title-second {
        text-align: center;
        font-size: 30px;
        text-shadow: 1px 1px 1px #333;
        color: white;
        text-transform: uppercase;
        margin-bottom: 15px;
      }

      .search {
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 10px;
        border-radius: 25px;
        background-color: #f7d800;

        i {
          margin: 0 5px;
        }

        input {
          height: 30px;
          width: 25rem;
          border: none;
          background: transparent;
          outline: none;
          font-size: 18px;
        }
      }
    }

    .content-down {
      border: 1px solid red;
      height: 50%;

      .options {
        .option-child {
          width: 7.5rem;
          border: 1px solid red;

          text-align: center;

          .icon-child {
            height: 50px;
            width: 50px;
            box-shadow: 0px 1px 2px 0px #919090;
            i {
              font-size: 29px;
              color: #49bce2;
            }
          }

          .text-child {
            font-size: 15px;
            font-weight: 600;
            letter-spacing: 1px;

            &:hover {
              color: #49bce2;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
